<section class="hero-section container">
    <div class="hero-content size">
        <h1 class="display-4 fw-bold">Estructura. Calma y Progreso.</h1>
        <h3>Gestiona rutinas de forma visual para TDAH y más.</h3>
    </div>
</section>

<section class="container3">
    <div class="text-center text">
        <h2>Diseñado para personas con TDAH y necesidades relacionadas, este sitio te ayuda a aportar estabilidad y motivación a cada día.</h2>
        <h3 class="text2">Sigue rutinas visuales, lleva un registro emocional y descubre programas para cada etapa de tu recorrido.</h3>
    </div>
</section>