<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content size">
        <h1 class="display-4 fw-bold">Organiza tus días de forma visual y tranquila</h1>
        <p class="lead">Diseñado para adolescentes con TDAH, TEA y otras neurodivergencias</p>
        <button [routerLink]="['/register']" class="btn btn-dark btn-tag">
            <span class="btn-text">
                Registrarse
            </span>
        </button>
    </div>
</section>


<!-- <section class="container_tolo">
    <div class="uno">
        <h1 class="display-4 fw-bold">Organiza tus días de forma visual y tranquila</h1>
        <p class="lead">Diseñado para adolescentes con TDAH, TEA y otras neurodivergencias</p>
        <a [routerLink]="['/register']" class="btn-blue">Registrarse</a>
    </div>
    <div class="dos fondo">
    </div>
</section> -->