.hero-section {
  position: relative;
  height: 500px;
  max-height: 500px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f5f5f5;

}

.container {
    width: 100%;
    max-width: none;
    margin: 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 5rem;
        background: url('../../../../public/images/fondo-call.png') center/cover;

}

.container2 {
    height: 500px;
    margin-bottom: 0;
}

.container3 {
    width: 100%;
    max-width: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 5rem;
    /* background-color: rgba(100, 148, 237, 0.143); */
    background-color: rgba(240, 128, 128, 0.112);
}

h1, h2, h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: -2px;
}

h2 {
  padding-bottom: 1rem;
}

h3 {
    font-size: 2.4rem;
    /* color: var(--color-black); */
}

p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #4e8e5b;
}

.text {
  margin: 10rem 0;
  max-width: 800px;
}

.text2 {
    color: silver;
}

.highlight {
    color: white;
    background-color: var(--color-black);
    padding: 0 0.5rem;
}

.display-4 .highlight {
    margin: 0 0.2rem;
    display: inline-block;
}

.highlight2 {
  color: #226630;
  font-style: italic;
}

.cta-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 12rem 0;
}

@media screen and (max-width: 768px) {
    h1, h2, h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.1rem;
    }

    .container {
      margin-bottom: 0;
    }

    .container2 {
      height: 300px;
    }
}