<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero-content size">
        <h1 class="display-4 fw-bold">Organiza tus días de forma visual y tranquila</h1>
        <p class="lead">Diseñado para adolescentes con TDAH, TEA y otras neurodivergencias</p>
        <a href="#funciona" class="btn btn-cta btn-lg mt-3">Regístrate</a>
    </div>
</section>

<section class="container_tolo">
    <div class="uno">
        <h1 class="display-4 fw-bold">Organiza tus días de forma visual y tranquila</h1>
        <p class="lead">Diseñado para adolescentes con TDAH, TEA y otras neurodivergencias</p>
        <a href="#funciona" class="btn btn-cta btn-lg mt-3">Regístrate</a>
    </div>


    <div class="dos fondo">
    </div>

</section>