

 
<section class="intro text-center ">
<h1>Nuestra Misión</h1>
<p  class="my-5 ">Somos un equipo comprometido con el bienestar y la autonomía de personas neurodivergentes, desarrollando herramientas digitales que se adaptan a sus necesidades reales.</p>
 
</section>
 
<section class="valores">
<div class="card">
<h2>Misión</h2>
<p>Facilitar la organización personal a jóvenes con TEA, TDAH u otras neurodivergencias mediante una app visual, flexible y empática.</p>
</div>
<div class="card">
<h2>Visión</h2>
<p>Convertirnos en referentes en tecnología educativa inclusiva, promoviendo el desarrollo personal, la independencia y la autoestima.</p>
</div>
<div class="card">
<h2>Valores</h2>
<a>Empatía</a>
<a>Accesibilidad</a>
<a>Co-creación con familias</a>
<a>Diseño centrado en el usuario</a>
 
</div>
</section>
 
<section class="comienzo text-center">
<h2 class="my-5">Como Empezamos</h2>
 
<p>Todo empezó porque nos pidieron hacer un TFM sobre una pagina tipo Todo List,
    pero dijimos... ¿por qué no ir más allá? a algún sitio donde no haya llegado nadie.
    Así que nos pusimos a investigar, estuvimos tiempo hablando con psicólogos, psiquiatras,
    y todo tipo de personal de la salud mental.
    Depués, hablamos con familias de personas neurodivergentes, y nos dimos cuenta de que había un gran vacío.
    Así que decidimos crear una aplicación que ayudara a estas personas a organizarse,
    a tener una vida más autónoma, y a sentirse mejor consigo mismas.
    Y así nació nuestra aplicación, con la ayuda de un gran equipo de profesionales,
    y con la colaboración de muchas familias que nos han ayudado a mejorarla.
    Estamos muy orgullosos de lo que hemos conseguido, y esperamos que nuestra aplicación ayude a
    muchas personas a tener una vida más plena y satisfactoria.
</p>
</section>
 
 
 
 