<footer class="footer">
    <div class="container">
        <hr class="my-5"/>
        <section class="mt-5">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <h6>LOGO</h6>
                </div>
                <div class="features col d-flex">
                    <div class="col flex-fill">
                        <h6>About</h6>
                        <p class="opt">Our mission</p>
                        <p class="opt">Blog</p>
                        <p class="opt">Team</p>
                    </div>
                    <div class="col flex-fill">
                        <h6>Features</h6>
                        <p class="opt">Visual Routines</p>
                        <p class="opt">Visual Routines</p>
                        <p class="opt">Personal Schedules</p>
                    </div>
                    <div class="col-md-1 col-lg-4 col-xl-5">
                        <h6>Contact</h6>
                        <p class="opt">Email</p>
                        <p class="opt">Support</p>
                        <p class="opt">FAQ</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
