<footer class="footer">
    <div class="container">
        <hr class="my-5"/>
        <section class="mt-5">
            <div class="row d-flex align-items-center">
                <div class="features text-center d-flex">
                    <div class="col flex-fill">

                        <h6 class="d-inline-block border-bottom border-2 border-primary pb-1 mb-3">Sobre Nosotros</h6>

                        <ul class="list-unstyled">
                            
                            <li><a href="" class="text-dark text-decoration-none link-primary d-block mb-2" [routerLink]="['nuestra-mision']">Nuestra Mision</a></li>
                            <li><a href="" class="text-dark text-decoration-none link-primary d-block mb-2" [routerLink]="['equipo']">Equipos</a></li>

                        </ul>

                    </div>
                    <div class="col flex-fill">

                        <h6 class="d-inline-block border-bottom border-2 border-success pb-1 mb-3">Features</h6>

                        <ul class="list-unstyled">
                            
                            

                                <li><a href="" class="text-dark text-decoration-none link-primary d-block mb-2">Rutinas Visuales</a></li>

                            
                                <li><a href="" class="text-dark text-decoration-none link-primary d-block mb-2">Registro Emocional</a></li>
                                <li><a href="" class="text-dark text-decoration-none link-primary d-block mb-2">Horarios Personalizados</a></li>


                        </ul>

                    </div>
                    <div class="col flex-fill">

                        <h6 class="d-inline-block border-bottom border-2 border-danger pb-1 mb-3">Aviso Legal</h6>

                    

                        <ul class="list-unstyled">

                            <li><a [routerLink]="['politica-de-privacidad']" class="text-dark text-decoration-none link-primary d-block mb-2" >
                                Política de Privacidad</a></li>

                            <li><a [routerLink]="['politica-de-cookies']"  class="text-dark text-decoration-none link-primary d-block mb-2">
                                Cookies</a></li>

                            <li><a [routerLink]="['aviso-legal']" class="text-dark text-decoration-none link-primary d-block mb-2">
                                Aviso Legal</a></li>

                        </ul>

                   

                    </div> 

                </div>
            </div>
        </section>

        <hr class="mt-5">

            <div class="text-center mt-5">

                <a href="" class="text-dark text-decoration-none link-primary">© 2025 TCAH. All rights reserved.</a>

            </div>
    </div>
</footer>
