<footer class="footer">
    <div class="container">
        <hr class="my-5"/>
        <section class="mt-5">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <h6>LOGO</h6>
                </div>
                <div class="features col d-flex">
                    <div class="col flex-fill">
                        <h6>About</h6>
                        <p class="opt">Our mission</p>
                        <p class="opt">Blog</p>
                        <p class="opt">Team</p>
                    </div>
                    <div class="col flex-fill">
                        <h6>Features</h6>
                        <p class="opt">Visual Routines</p>
                        <p class="opt">Emotional Register</p>
                        <p class="opt">Personal Schedules</p>
                    </div>
                    <div class="col-md-1 col-lg-4 col-xl-5">
                        <h6>Contact</h6>
                        <p class="opt">Política de privacidad</p>
                        <p class="opt">Cookies</p>
                        <p class="opt">Terminos de servicio</p>
                    </div>
                    <!-- <div>
                        <h3 class="font-semibold mb-3">Legal</h3>
                        <ul class="space-y-1">
                            <li><a href="#" class="hover:underline">Política de privacidad</a></li>
                            <li><a href="#" class="hover:underline">Cookies</a></li>
                            <li><a href="#" class="hover:underline">Terminos de servicio</a></li>
                        </ul>
                        </div> -->
                    
                    
                    <div class="mt-8 border-t border-gray-200 pt-6 text-center text-xs text-gray-500">
                        © 2025 TCAH. All rights reserved.
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
