<div class="modal">
  <div class="modal-content">
    <h3>Añadir Rutina</h3>
    <form [formGroup]="routineForm" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <input type="text" class="input" formControlName="name" placeholder="Nombre de la rutina">
        <label class="label">Nombre</label>
      </div>
      <div class="input-wrapper">
        <textarea class="input" formControlName="description" placeholder="Descripción"></textarea>
        <label class="label">Descripción</label>
      </div>
      <div class="input-wrapper">
        <input type="checkbox" class="input" formControlName="is_template">
        <label class="label">Plantilla</label>
      </div>
      <div class="input-wrapper">
        <input type="datetime-local" class="input" formControlName="start_time" placeholder="Hora de inicio">
        <label class="label">Hora de Inicio</label>
      </div>
      <div class="input-wrapper">
        <input type="datetime-local" class="input" formControlName="end_time" placeholder="Hora de fin">
        <label class="label">Hora de Fin</label>
      </div>
      <div class="input-wrapper">
        <select class="input" formControlName="daily_routine">
          <option value="Daily">Diaria</option>
          <option value="Weekly">Semanal</option>
          <option value="Monthly">Mensual</option>
        </select>
        <label class="label">Frecuencia</label>
      </div>
      @if (guideUserRelations.length > 0) {
        <div class="input-wrapper">
          <select class="input" formControlName="targetUserId">
            @for (relation of guideUserRelations; track relation.guide_user_id) {
              <option [ngValue]="relation.user_id">
                {{ relation.guide_user_id === 0 ? 'Mi Perfil' : relation.user?.username }} (ID: {{ relation.user_id }})
              </option>
            }
          </select>
          <label class="label">Usuario</label>
        </div>
      }
      <div class="modal-footer">
        <button type="submit" class="button-submit" aria-label="Crear rutina">Crear</button>
        <button type="button" class="button-close" (click)="onCancel()" aria-label="Cancelar">Cerrar</button>
      </div>
    </form>
  </div>
</div>