<section>
    <div class="color-selection">
        <form [formGroup]="editAppearanceForm" (ngSubmit)="onSubmit()">
            <div class="input-wrapper">
                <input type="color" class="input" formControlName="primaryColor" aria-label="Color primario">
                <label class="label">Color primario</label>
            </div>
            <div class="input-wrapper">
                <input type="color" class="input" formControlName="secondaryColor" aria-label="Color secundario">
                <label class="label">Color secundario</label>
            </div>
            <div class="input-wrapper">
                <input type="color" class="input" formControlName="accentColor" aria-label="Color de acento">
                <label class="label">Color de acento</label>
            </div>
            <div class="input-wrapper">
                <input type="color" class="input" formControlName="backgroundColor" aria-label="Color de fondo">
                <label class="label">Color de fondo</label>
            </div>
            
            <button class="button-submit" type="submit" [disabled]="editAppearanceForm.invalid" [attr.aria-disabled]="editAppearanceForm.invalid">Guardar</button>
        </form>
    </div>
</section>