<section class="features">
    <div class="container py-5">
        <div class="row align-items-center mt-3">
            <div class="col-md-6">
                <div class="feature-img  feature-1"></div>
            </div>
            <div class="col-md-6 text">
                <h3 class="fw-bold">Registro emocional</h3>
                <p>
                Anota tus emociones a lo largo del día para detectar patrones y mejorar tu bienestar emocional con herramientas de seguimiento.
                </p>
            </div>
        </div>
        <div class="row align-items-center margin">
            <div class="col-md-6 order-md-2">
                <div class="feature-img feature-2"></div>
            </div>
            <div class="col-md-6 order-md-1 text">
                <h3 class="fw-bold">Rutinas visuales</h3>
                <p>Planes adaptativos que se ajustan a tus necesidades, apoyando el progreso de personas con TDAH y condiciones similares.
</p>
            </div>
        </div>
        <div class="row align-items-center  margin">
            <div class="col-md-6">
                <div class="feature-img feature-3"></div>
            </div>
            <div class="col-md-6 text">
                <h3 class="fw-bold">Horarios personalizados</h3>
                <p>Planes adaptativos que se ajustan a tus necesidades, apoyando el progreso de personas con TDAH y condiciones similares.</p>
            </div>
        </div>
    </div>
</section>