<section class="features">
    <div class="container py-5">
        <div class="row align-items-center feature">
            <div class="col-md-6 vanta">
                <div class="vanta-bg-features" style="width:100%;height:100%; min-height:500px;"></div>
            </div>
            <div class="col-md-6 text">
                <h3 class="fw-bold">Emotional register</h3>
                <a href="#" class="btn-shine" [routerLink]="['/register']">Get early access</a>
                <p>
                    <span class="highlight">Log your feelings</span>
                throughout the day to spot patterns and improve emotional well-being with tracking tools.
                </p>
            </div>
        </div>
        <div class="row align-items-center feature">
            <div class="col-md-6 order-md-2 vanta">
                <div class="vanta-bg-features2" style="width:100%;height:100%; min-height:500px;"></div>
            </div>
            <div class="col-md-6 order-md-1 text">
                <h3 class="fw-bold highlight">Visual routines</h3>
                <p>Adaptive plans that flex to your needs, supporting progress for individuals with TCAH and similar conditions.</p>
            </div>
        </div>
        <div class="row align-items-center feature">
            <div class="col-md-6 vanta">
                <div class="vanta-bg-features3" style="width:100%;height:100%; min-height:500px;"></div>
            </div>
            <div class="col-md-6 text">
                <h3 class="fw-bold">Personalized schedules</h3>
                <p>Adaptive plans that flex to your needs, supporting progress for individuals with TCAH and similar conditions.</p>
            </div>
        </div>
    </div>
</section>