* {
    font-family: "Montserrat";
}

.feature-img {
    background-color: #f0f0f0;
    height: 350px;
    border-radius: 8px;
}

.btn-shine {
    display: inline-block;
    color: #fff;
    background-color: var(--color-black);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
}

.feature {
    margin-bottom: 5rem;
}

.highlight {
    display: inline-block;
    color: white;
    background-color: var(--color-black);
    padding: 0 0.5rem;
}

h3 {
    margin-top: 2rem;
    letter-spacing: -1px;
    font-size: 3rem;
    margin-bottom: 0;
}

p {
    letter-spacing: -1px;
    font-size: 1.3rem;
    padding: 1rem 4rem 0 0;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    h3 {
        margin-top: 2rem
    }
}