<div class="modal">
  <div class="modal-content">
    <h3>Editar Rutina</h3>
    <form [formGroup]="routineForm" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <label class="form-label">Nombre</label>
        <input type="text" class="input" formControlName="name" placeholder="Nombre de la rutina">
      </div>
      <div class="input-wrapper">
        <label class="form-label">Descripción</label>
        <textarea class="input" formControlName="description" placeholder="Descripción"></textarea>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="is_template">
        <label class="form-check-label">Plantilla</label>
      </div>
      <div class="input-wrapper">
        <label class="form-label">Hora de Inicio</label>
        <input type="datetime-local" class="input" formControlName="start_time" placeholder="Hora de inicio">
      </div>
      <div class="input-wrapper">
        <label class="form-label">Hora de Fin</label>
        <input type="datetime-local" class="input" formControlName="end_time" placeholder="Hora de fin">
      </div>
      <div class="input-wrapper">
        <label class="form-label">Frecuencia</label>
        <select class="input" formControlName="daily_routine">
          <option value="Daily">Diaria</option>
          <option value="Weekly">Semanal</option>
          <option value="Monthly">Mensual</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="submit" class="button-submit" aria-label="Guardar cambios">Guardar</button>
        <button type="button" class="button-close" (click)="onCancel()" aria-label="Cancelar">Cerrar</button>
      </div>
    </form>
  </div>
</div>