<nav class="navbar navbar-expand-lg">
    <div class="grapper gap-5 justify-content-center mx-3">
        <a class="navbar-brand" href="#" [routerLink]="['/home']">Logo</a>
          <div class="navbar-nav mx-auto d-flex flex-row gap-3">
            <a class="nav-item nav-link active" href="#" [routerLink]="['/home']">Home</a>
            <a class="nav-item nav-link" href="#" [routerLink]="['/login']">Inicio Sesión</a>
            <a class="nav-item nav-link" href="#" [routerLink]="['/register']">Registrarse</a>
          </div>
    </div>
</nav>