.card {
  border-radius: 1rem;
  background-color: var(--background-color);
}

.button {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  max-width: 250px;
  margin: 20px 0 10px 0;
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}