<div class="modal">
  <div class="modal-content">
    <h3>Editar Actividad</h3>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <div class="input-wrapper">
        <input type="text" class="input" formControlName="title" placeholder="Título de la actividad">
        <label class="label">Título</label>
      </div>
      <div class="input-wrapper">
        <textarea class="input" formControlName="description" placeholder="Descripción"></textarea>
        <label class="label">Descripción</label>
      </div>
      <div class="input-wrapper">
        <select class="input" formControlName="category_id">
          <option [ngValue]="null" disabled>Selecciona una categoría</option>
          @for (category of categories(); track category.category_id) {
            <option [ngValue]="category.category_id">{{ category.name }}</option>
          }
        </select>
        <label class="label">Categoría</label>
        @if (activityForm.get('category_id')?.invalid && activityForm.get('category_id')?.touched) {
          <span class="error-text">La categoría es obligatoria</span>
        }
      </div>
      <div class="input-wrapper">
        <input type="datetime-local" class="input" formControlName="datetime_start">
        <label class="label">Fecha y Hora de Inicio</label>
      </div>
      <div class="input-wrapper">
        <input type="datetime-local" class="input" formControlName="datetime_end">
        <label class="label">Fecha y Hora de Fin</label>
      </div>
      <div class="input-wrapper">
        <input type="text" class="input" formControlName="location" placeholder="Ubicación">
        <label class="label">Ubicación</label>
      </div>
      <div class="input-wrapper">
        <input type="text" class="input" formControlName="icon" placeholder="Ícono (ej. book.png)">
        <label class="label">Ícono</label>
      </div>
      <div class="modal-footer">
        <button type="submit" class="button-submit" [disabled]="activityForm.invalid">Guardar</button>
        <button type="button" class="button-close" (click)="close.emit()">Cerrar</button>
      </div>
    </form>
  </div>
</div>