<section class="container">
        <div class="min-h-screen text-gray-800 p-6 md:p-12 font-sans">

            <div class="max-w-5xl mx-auto">

                <div class="principal grid md:grid-cols-2 gap-10 mt-12">

                    <div class="principalCards">
                        <h1 class="text-4xl md:text-5xl font-bold mb-8 text-center">Registro emocional</h1>

                        <p class="text-lg md:text-xl mb-6 text-center">
                            🎯 Cuál es el objetivo real de este método:
                        </p>

                        <ul>
                            <li>Identificar cómo se siente en un momento determinado.</li>
                            <li>Asociar emociones con eventos concretos (como una tarea).</li>
                            <li>Tomar conciencia de cómo su estado anímico influye en tu conducta.</li>
                            <li>Desarrollar habilidades de autorregulación emocional.</li>
                        </ul>

                        <div class="contenedor-imagen">
                            <img src="/images/image7.png" alt="Ejemplo de rutina en casa"
                            class="avatar"/>

                        </div>
                    </div>

                        

                      <div class="principalCards">
                            <h2 class="text-2xl font-semibold mb-4">¿Cuando se va a mostrar?</h2>
                           
                            <p>El registro emocional, se puede mostrar:</p>
                            <ul>
                                <li>Al iniciar el día (antes de mostrar la lista de tareas).</li>
                                <li>Al terminar una tarea.</li>
                                <li>Al finalizar el día como reflexión.</li>
                            </ul>
                            <p class="pt-1">Siempre que no quieras hacerlo, podrás eliminarlo.
                                No te sientas obligado a usarlo.
                            </p>

                        </div>

                        <div class="principalCards">
                            <h2 class="text-2xl font-semibold mb-4">¿Para quiénes son útiles?</h2>
                            <p>Aunque todos los jóvenes pueden beneficiarse del registro emocional, son especialmente
                                efectivas
                                para adolescentes con:</p>
                            <ul class="list-disc list-inside space-y-2">
                                <li>TDAH (Trastorno por Déficit de Atención con o sin Hiperactividad)</li>
                                <li>TEA (Trastorno del Espectro Autista)</li>
                                <li>Emociones intensas al fracasar o sentirse desbordadas.</li>
                                <li>Necesidad de estructuras claras que se adapten a su estado emocional.</li>
                            </ul>
                        </div>
                    
                        <div class="principalCards">
                            <h2 class="text-2xl font-semibold mb-4">Beneficios del registro emocional</h2>

                            <ul>
                                <li>Fomentan la autorregulación.</li>
                                <li>Adapta la carga de trabajo</li>
                                <li>Ayuda a terapeutas o familias</li>
                                <li>Promueve el autoconocimiento</li>
                                <li>Permiten adaptar el ritmo según el estado emocional o nivel de energía del día.</li>
                            </ul>    

                        </div> 
                </div>

                <div class="mt-12">
                    <h2 class="text-2xl font-semibold mb-4 text-center">Ejemplos de Registro emocional</h2>
                    <section class="cards grid md:grid-cols-3 gap-8">
                        <div class="card">
                                <h3>¿Cómo te sientes hoy?</h3>

                                <label  class="my-3">Estado de ánimo:</label>
                            <select class="form-select" aria-label="Default select example">
                                    <option value="feliz">😊 Feliz</option>
                                    <option value="tranquilo">😌 Tranquilo/a</option>
                                    <option value="estresado">😣 Estresado/a</option>
                                    <option value="triste">😢 Triste</option>
                                    <option value="ansioso">😰 Ansioso/a</option>
                                    <option value="motivado">💪 Motivado/a</option>
                                    <option value="apatia">😶 Apático/a</option>
                                </select>

                                <label  class="my-3">Nivel de energía (1-5):</label>
                                <input type="range" class="form-range" id="customRange1">


                                <label class="my-3">¿Quieres añadir algo más?</label>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                        style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Me cuesta concentrarme hoy</label>
                                </div>
                        </div>
                        <div class="card">
                                <h3>¿Cómo te sientes hoy?</h3>

                                <label  class="my-3">Estado de ánimo:</label>
                            <select class="form-select" aria-label="Default select example">
                            <option value="facil">👍 Fue fácil</option>
                            <option value="bien">🙂 Me sentí bien</option>
                            <option value="agotado">😫 Me agotó</option>
                            <option value="frustrado">😤 Me frustró</option>
                            <option value="evite">🚫 No pude hacerla</option>
                                    <option value="motivado">💪 Motivado/a</option>
                                    <option value="apatia">😶 Apático/a</option>
                                </select>

                           

                                <label class="my-3">¿Qué te ayudó o te bloqueó?
</label>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                        style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">"Ej: Pude concentrarme porque usé auriculares..."</label>
                                </div>
                        </div>

                      
                    </section>
                </div>
            </div>
        </div>
</section>