
:root {
    --color-btn-ac: #4A90E2;
    --color-btn-des: #DCEEFF;
    --color-black: #302F2F;
    --color-primary-green: #E0F7E9;
    --color-secondary-green: #65BC95;
    --color-primary-yellow: #FEEEA0;
    --color-secondary-red: #F88379;

    /* Paleta del tema del usuario */

    --primary-color: #4682B4;
    --secondary-color: #708090;
    --accent-color: #FFD700;
    --background-color: #F5F5F5;
}

.btn-blue {
    background-color: var(--color-btn-ac);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.btn-blue:hover {
    background-color: var(--color-btn-des);
    color: var(--color-black);
}

::selection {
    background-color: var(--color-black); 
    color: #fff; 
}


.fc-day-grid-event {
    background-color: #f0f0f0; 
}
 
.fc-event-solid {
    background-color: #4CAF50; /* Cambiar el color de los eventos */
}
.fc-daygrid-day-number { /* cambiar  color números*/
    color: var(--color-black);
    text-decoration: none;
}
.fc-col-header-cell-cushion { /* cambiar  color números cabecera tabla*/
    color: var(--color-black);
    text-decoration: none;


}
.fc-event-bg-color {
    background-color: rgba(240, 128, 128, 0.491); /* Cambiar el color de fondo de los eventos */
}

.fc .fc-button-primary{ /* cambiar  color números cabecera tabla*/
    background-color: rgb(128, 200, 248);
    border: none;
} 

.fc-sticky {
    color: black;
    background-color: rgba(210, 234, 250, 1);
}
.fc-event-title-container { /* color evento*/
    background-color: rgba(210, 234, 250, 1);
    display: grid;
    justify-content: space-evenly;
}
.fc-h-event {
    background-color: rgba(210, 234, 250, 1);
    border: none;
    display: grid;
    margin: 10px;

}
.fc-today-button {
    background-color: var(--color-black);
}

.fc-daygrid-more-link {
    background-color: rgb(128, 200, 248);
     color: black;
     padding: 10px 5px;
     text-decoration: none;
}
.fc-daygrid-event{
    color: black;
}
.fc-daygrid-event-dot {
    color: black;
    border: calc(var(--fc-daygrid-event-dot-width) / 2) solid black;
}
.fc .fc-daygrid-more-link {
    padding: 5px 10px;
}

.fc .fc-daygrid-more-link:hover {
    background-color: rgb(128, 200, 248);
}
  
.fc-event-time {
    color: black;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(211, 211, 211, 0.277);
}
.fc-daygrid-day-bottom{
    align-items: center;
}
/* Asegura que el contenedor de eventos tenga una altura máxima fija */

.fc-daygrid-day-frame {

    height: 170px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.fc .fc-daygrid-day-bottom {
    flex-shrink: 0;
    padding-top: 4px;

}

.fc-event-short {
    color: black;
    padding: 0px 5px 0px 5px;
}

 