/* You can add global styles to this file, and also import other style files */

:root {
    --color-btn-ac: #4A90E2;
    --color-btn-des: #DCEEFF;
    --color-black: #302F2F;
    --color-primary-green: #E0F7E9;
    --color-secondary-green: #65BC95;
    --color-primary-yellow: #FEEEA0;
    --color-secondary-red: #F88379;
}

.btn-blue {
    background-color: var(--color-btn-ac);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.btn-blue:hover {
    background-color: var(--color-btn-des);
    color: var(--color-black);
}

::selection {
    background-color: var(--color-black); 
    color: #fff; 
}


.fc-day-grid-event {
    background-color: #f0f0f0;
}
 
.fc-event-solid {
    background-color: #4CAF50; /* Cambiar el color de los eventos */
}
.fc-daygrid-day-number { /* cambiar  color números*/
    color: var(--color-black);
}
.fc-col-header-cell-cushion { /* cambiar  color números cabecera tabla*/
    color: var(--color-black);

}
.fc .fc-button-primary{ /* cambiar  color números cabecera tabla*/
    background-color: var(--color-secondary-green);
    border: none;
} 

.fc-event-title-container { /* ccolor evento*/
    background-color: var(--color-secondary-green);
}