
:root {
    --color-btn-ac: #4A90E2;
    --color-btn-des: #DCEEFF;
    --color-black: #302F2F;
    --color-primary-green: #E0F7E9;
    --color-secondary-green: #65BC95;
    --color-primary-yellow: #FEEEA0;
    --color-secondary-red: #F88379;

    /* Paleta del tema del usuario */

    --primary-color: #4682B4;
    --secondary-color: #708090;
    --accent-color: #FFD700;
    --background-color: #F5F5F5;
}

.btn-blue {
    background-color: var(--color-btn-ac);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.btn-blue:hover {
    background-color: var(--color-btn-des);
    color: var(--color-black);
}

::selection {
    background-color: var(--color-black); 
    color: #fff; 
}


.fc-day-grid-event {
    background-color: #f0f0f0; 
}
 
.fc-event-solid {
    background-color: #4CAF50; /* Cambiar el color de los eventos */
}
.fc-daygrid-day-number { /* cambiar  color números*/
    color: var(--color-black);
    text-decoration: none;
}
.fc-col-header-cell-cushion { /* cambiar  color números cabecera tabla*/
    color: var(--color-black);
    text-decoration: none;


}
.fc-event-bg-color {
    background-color: rgba(240, 128, 128, 0.491); /* Cambiar el color de fondo de los eventos */
}

.fc .fc-button-primary{ /* cambiar  color números cabecera tabla*/
    background-color: lightcoral;
    border: none;
} 

.fc-sticky {
    color: white;
    background-color: rgba(240, 128, 128, 0.491);
}
.fc-event-title-container { /* color evento*/
    background-color: rgba(240, 128, 128, 0.491);
    display: grid;
}
.fc-h-event {
    background-color: rgba(240, 128, 128, 0.491);
    border: none;
    display: grid;
    margin: 10px;
}
.fc-today-button {
    background-color: var(--color-black);
}