.container {
    width: 100%;
    max-width: none;
    margin: 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#vanta-bg-dashboard {
    align-content: center;
}

.welcome {
    text-align: center;
}

h2, h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: -2px;
}

h2 {
    color: var(--color-black);
}

h3 {
    padding: 0.3rem 0.5rem;
    background-color: var(--color-black);
    color: white;
    display: inline-block;
}